body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centered-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.stack-sans-notch-header {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}