body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-container {
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw; 
}

.page-container {
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-behavior: smooth; 
    display: flex;
    flex-direction: column;
    position: relative;
}

.scroll-snap-item {
    scroll-snap-align: start; 
    scroll-behavior: smooth; 
}

.footer-container {
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 24px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottom-text {
  text-align: center;
  padding: 12px 16px;
  color: #bdbdbd;
}

.centered-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.stack-sans-notch-header {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 50px #969bff;
  text-align: center;
}

.button {
  background-color: #305057;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 50px 1px #6a9bef;
}

.chevron-down {
  background: transparent;
  border: none;
  color: white;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chevron-down:hover {
  color: #bdbdbd;
}

.button:hover {
  background-color: #5a7b85;
  box-shadow: 0px 0px 50px 1px #95bcff;

}

/* Default styles for all screen sizes */
body {
  font-size: 0.75rem;
}

/* Tablets and desktops */
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/* Large desktops */
@media (min-width: 1200px) {
  body {
    font-size: 1.25rem;
  }
}