body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centered-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack-sans-notch-header {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 50px #969bff;
  text-align: center;
}

.button {
  background-color: #22333e;
  border: none;
  color: white;
  padding: 10px 20px;
  /* padding: 8px 10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 50px 1px #6a9bef;
}

.button:hover {
  /* background-color: #859a94; */
  background-color: #5a7b85;
  box-shadow: 0px 0px 50px 1px #95bcff;

}

/* Default styles for all screen sizes */
body {
  font-size: 0.75rem;
}

/* Tablets and desktops */
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/* Large desktops */
@media (min-width: 1200px) {
  body {
    font-size: 1.25rem;
  }
}