body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centered-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.stack-sans-notch-header {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: #8a8a8a;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover {
  background-color: #cecece;
}